{% load static tailwind_tags %}
<div
  class="border-b-8 border-red-700 flex bg-[#343a40] items-center px-5 w-full h-[6rem] gap-x-[2vw] text-white"
>
  <a href="/">
    <div class="flex flex-row items-center gap-[2vw]">
      <div>
        <img
          class="w-[5vw] xl:w-[3vw] invert"
          src="static/images/football.png"
          alt=""
        />
      </div>
      <div>
        <p>PNLF</p>
      </div>
    </div>
  </a>

  <div class="flex-grow"></div>
  <a href="/Estadios">
    <div class="flex-none">Estadio</div>
  </a>
  <a href="/Equipos">
    <div class="flex-none">Equipos</div>
  </a>
  <a href="/Jugadores">
    <div class="flex-none">Jugadores</div>
  </a>
</div>
