{% extends 'pages/base/index.html' %}
{% block title %}Estadios{% endblock title %}
{% block content %}
<div class="flex flex-col h-full items-center overflow-scroll pt-10 ">
    {% for stadium in cardItem %}
    <div
      id="CardPlayerGrid"
      class="grid grid-cols-3 mb-10 flex-row bg-white w-[90vw] h-[25vw] px-[2rem] py-[1rem] items-center justify-items-center"
    >
      <div class="border-r border-black w-full">
        <p id="NumberContainer" class="text-center font-FasterOne text-[15vw]">{{stadium.pk}}</p>
      </div>
      <div>
        <div class="w-[18vw]">
          <img src="{{'media/'}}{{stadium.image}}" alt="" />
        </div>
      </div>
      <div
        class="border-l w-full h-full border-black px-5 font-BebasKai text-[2vw] "
      >
        <p class="text-[5vw] border-y border-black leading-[5vw]">
          {{stadium.name}}
        </p>
        <p>UBICACIÓN: {{stadium.location}}</p>
        <p>CAPACIDAD: {{stadium.capacity}}</p>
        <div class='flex flex-row justify-end'>
            <a href="{{'EditarEstadio/'}}{{stadium.pk}}">
              <div class="w-[3vw] mr-[2vw]">
                <img src="static/images/editar.png" alt="" />
              </div>
            </a>
            <a href="{{'BorrarEstadio/'}}{{stadium.pk}}">
              <div class="w-[3vw]">
                <img src="static/images/delete.png" alt="" />
              </div>
            </a>
        </div>
      </div>
    </div>
    {% endfor %}
    

    <a href="RegistrarEstadio">
      <div
        id="CardPlayerGrid"
        class="flex flex-row bg-white w-[90vw] h-[25vw] px-[2rem] py-[1rem] items-center justify-items-center"
      >
        <div class="w-full">
          <p id="NumberContainer" class="text-center font-FasterOne text-[5vw]">
            añadir estadio
          </p>
        </div>
      </div>
    </a>
</div>
{% endblock content %}